// COLORS
$color-primary-light : #BEB9F1;
$color-primary:#1B1464;
$color-primary-dark: #0E062D;

$color-white: white;
$color-black: black;


$color-grey-dark-1: #777;
$color-grey-dark-2: #6e6e6e;
$color-grey-dark-3: #555;

$color-grey-light-1: #eee;
$color-grey-light-2: #ccc;
$color-grey-light-3: #aaa;

// FONT
$default-font-size: 1.6rem;