@import "../../../sass/abstracts/mixin";
@import "../../../sass/abstracts/variables";

.footer {
    padding: 6rem;
    background-color: $color-primary-dark;
    display: flex;
    justify-content: flex-start;

    @include respond(small-screen) {
        flex-direction: column;
    }

    &__box {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-left: 8rem;

        @include respond(small-screen) {
            margin-left: 0;
            justify-content: center;
            display: flex;
            align-items: center;
        }
    }
    &__link {
        text-decoration: none;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        color: $color-grey-light-2;
        font-weight: 100;
    }
}