@import "../../../sass/abstracts/mixin";
@import "../../../sass/abstracts/variables";

.feature {
    width: 27rem;
    margin: 1rem;
    color: $color-grey-light-2;
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 1rem;
    padding: 2rem;
    transition: all 0.2s;
    cursor: pointer;
    @include respond(phone) {
        width: 30rem;
    }
    @include respond(small-screen) {
        width: 34rem;
    }

    &:hover {
        transform: translateY(-1rem);
    }

    &__title {
        color: white;
    }

    &__content {
        line-height: 2.8rem;
        padding: 0.5rem;
        text-align: justify;
        color: white;
        letter-spacing: 2px;
    }
}
